body {
	color:white;
	background-color: black;
}

h1 ,h2 {
	font-family: 'Audiowide', cursive;
	display: flex;
	justify-content: center;
}

#content {
	margin:0 auto;
}

#guessedLets {
	letter-spacing: 0.5em;
}

#content {
	font-size: 28px;
}